body {
    background-color: #181D20;
}

.LoginBody {
    background-color: #393F4C;
    box-shadow: none;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.425);
}

.txtLogin {
    background-color: #263238;
    color: #ffffff;
    border: none;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.123);
}

.txtLogin::placeholder {
    color: #455A64;
}

.btnLogin {
    background-image: linear-gradient(45deg, #0097A7, #0097A7);
}